@media screen and (max-width: 768px) {
    .header {
        padding: 20px 10%;
    }

    .home {
        padding: 20px 10% 0;
        flex-direction: column;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
    }

    .img-box img {
        width: 100%;
    }

    .about {
        /* padding: 12% 5%; */
        padding: 20% 10% ;
        flex-direction: column;
        text-align: center;

    }

    .about-content h2 {
        /* text-align: center; */
        max-width: 100%;
    }

    .about-img img {
        width: 80%;
        /* width: 100%; */
    }

    .contact-form form .input-box input,
    .contact-form form textarea {
        width: 70%;
    }

    .footer .social a {
        width: 35px;
        height: 35px;
        line-height: 33px;
    }
}
